.gallery {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 100px 0;
  list-style: none;
  line-height: 0;
  gap: 48px 24px;
}

.gallery-image {
  width: 360px;
  height: 300px;
}